@use "../../breakpoints" as *;
@use "../../mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

.error__page {
    position: relative;
    height: 600px;
    padding-top: 6em;
    overflow-x: hidden;

    @include sm {
        height: 700px;
    }

    .content__wrapper {
        flex-direction: column;
        @include display-flex;

        .error__image-container {
            width: min(95%, 900px);
            margin: 1em 0;
        }

        .error__image {
            width: 100%;
            object-fit: cover;
        }

        .error__title {
            font-size: 2em;
            font-weight: 700;
            color: var(--pink);
            font-family: "Salsa", cursive;

            @include md {
                font-size: 4em;
            }
        }

        .error__subtitle {
            color: #fff;
            text-align: center;
            margin: 1em 0;
            line-height: 1.5;
            font-size: 0.95rem;

            @include md {
                font-size: 1.15rem;
                width: 75%;
            }

            @include lg {
                width: 45%;
            }
        }
    }

    .search__container {
        margin-top: 1em;
        width: 100%;
    }
}
