@use "../../breakpoints" as *;
@use "../../mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

.error__page {
    position: relative;
    height: 600px;
    padding-top: 6em;
    overflow-x: hidden;

    @include sm {
        height: 700px;
    }

    .content__wrapper {
        flex-direction: column;
        @include display-flex;

        .error__subBlock {
            position: absolute;
            top: 9em;
            gap: 0.5em;
            @include display-flex;

            @include sm {
                gap: 1.5em;
                top: 6em;
            }

            @include lg {
                top: 8em;
            }

            img {
                user-select: none;
                @include object-cover;

                &.left-plug {
                    transform: scaleY(-1) rotate(-3deg);
                }

                &.right-plug {
                    transform: scaleY(-1) rotate(5deg);
                }
            }
        }

        .error__title {
            font-size: 5em;
            font-weight: 700;
            color: var(--pink);
            font-family: "Salsa", cursive;

            @include md {
                font-size: 6.5em;
            }

            @include lg {
                font-size: 10em;
            }
        }

        .error__subtitle {
            font-size: 1.5em;
            color: var(--pink);
            font-family: "Salsa", cursive;
            text-align: center;

            @include md {
                font-size: 2em;
            }

            @include lg {
                font-size: 3em;
            }
        }
    }

    .search__container {
        margin-top: 13em;
        width: 100%;
    }
}
