.details__banner {
    background-color: var(--black);
    padding-top: 6.25em;
    margin-bottom: 3em;
}
@media only screen and (min-width: 768px) {
    .details__banner {
        margin-bottom: 0;
        padding-top: 7.5em;
        min-height: 700px;
    }
}
.details__banner .backdrop__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    overflow: hidden;
}
.details__banner .backdrop__image .lazy-load-image-background {
    width: 100%;
    height: 100%;
}
.details__banner .backdrop__image .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.details__banner .opacity-layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(180deg, transparent 0%, #04152d 80%);
}
.details__banner .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
@media only screen and (min-width: 768px) {
    .details__banner .content {
        gap: 3em;
        flex-direction: row;
    }
}
.details__banner .content .left {
    flex-shrink: 0;
}
.details__banner .content .left .posterImg {
    width: 100%;
    display: block;
    border-radius: 0.8em;
}
@media only screen and (min-width: 768px) {
    .details__banner .content .left .posterImg {
        max-width: 22em;
    }
}
.details__banner .content .right {
    color: #fff;
}
.details__banner .content .right .title {
    font-size: 1.5rem;
    line-height: 1.35;
}
@media only screen and (min-width: 768px) {
    .details__banner .content .right .title {
        font-size: 1.75em;
        line-height: 1.25;
    }
}
@media only screen and (min-width: 1024px) {
    .details__banner .content .right .title {
        font-size: 2em;
    }
}
.details__banner .content .right .subtitle {
    font-size: 1rem;
    margin: 1em 0;
    font-style: italic;
    opacity: 0.5;
}
@media only screen and (min-width: 768px) {
    .details__banner .content .right .subtitle {
        font-size: 1.05rem;
    }
}
.details__banner .content .right .genres__container {
    margin: 1em 0;
    flex-flow: row wrap;
    gap: 0.5em;
}
.details__banner .content .right .genres__container .genre {
    font-size: 0.95rem;
}
.details__banner .content .right .overview {
    margin-bottom: 1.5em;
}
.details__banner .content .right .overview .heading {
    font-size: 1.35rem;
    margin-bottom: 0.5em;
}
.details__banner .content .right .overview .description {
    line-height: 1.5;
    opacity: 0.8;
    font-size: 1rem;
}
.details__banner .content .right .circle__rating {
    max-width: 50px;
    background-color: var(--black2);
}
@media only screen and (min-width: 768px) {
    .details__banner .content .right .circle__rating {
        max-width: 60px;
    }
}
.details__banner .content .right .circle__rating .CircularProgressbar-text {
    fill: #fff;
}
.details__banner .content .right .playbtn {
    gap: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details__banner .content .right .playbtn svg {
    width: 45px;
}
@media only screen and (min-width: 768px) {
    .details__banner .content .right .playbtn svg {
        width: 55px;
    }
}
.details__banner .content .right .playbtn .text {
    font-size: 1.05rem;
    transition: all 0.7s ease-in-out;
}
@media only screen and (min-width: 640px) {
    .details__banner .content .right .playbtn .text {
        font-size: 1.15rem;
    }
}
@media only screen and (min-width: 1024px) {
    .details__banner .content .right .playbtn .text {
        font-size: 1.25rem;
    }
}
.details__banner .content .right .playbtn .triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
}
.details__banner .content .right .playbtn .circle {
    stroke: #fff;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
}
.details__banner .content .right .playbtn:hover .text {
    color: var(--pink);
}
.details__banner .content .right .playbtn:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var(--pink);
    animation: trailorPlay 0.7s ease-in-out;
}
.details__banner .content .right .playbtn:hover .circle {
    stroke-dashoffset: 0;
    stroke: var(--pink);
}
.details__banner .content .right .row {
    gap: 1.5em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.details__banner .content .right .info {
    padding: 1em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 640px) {
    .details__banner .content .right .info {
        display: flex;
    }
}
.details__banner .content .right .info .infoItem {
    margin-right: 1em;
    display: flex;
    flex-flow: row wrap;
}
.details__banner .content .right .info .infoItem:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1em 0;
}
@media only screen and (min-width: 640px) {
    .details__banner .content .right .info .infoItem:not(:last-child) {
        border-bottom: 0;
        padding: 0;
    }
}
.details__banner .content .right .info .infoItem:last-child {
    padding-top: 1em;
}
@media only screen and (min-width: 640px) {
    .details__banner .content .right .info .infoItem:last-child {
        padding-top: 0;
    }
}
.details__banner .content .right .info .text {
    margin-right: 1em;
    opacity: 0.5;
    line-height: 1.5;
    font-size: 0.95rem;
}
.details__banner .content .right .info .text.bold {
    font-weight: 600;
    opacity: 1;
}
.details__banner .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.5em;
}
@media only screen and (min-width: 768px) {
    .details__banner .detailsBannerSkeleton {
        gap: 3em;
        flex-direction: row;
    }
}
.details__banner .detailsBannerSkeleton .content__wrapper {
    display: flex;
    gap: 3em;
}
.details__banner .detailsBannerSkeleton .left {
    display: block;
    width: 100%;
    flex-shrink: 0;
    border-radius: 0.75em;
    aspect-ratio: 1/1.5;
}
@media only screen and (min-width: 768px) {
    .details__banner .detailsBannerSkeleton .left {
        max-width: 350px;
    }
}
.details__banner .detailsBannerSkeleton .right {
    width: 100%;
}
.details__banner .detailsBannerSkeleton .right .row {
    width: 100%;
    height: 1.75em;
    margin-bottom: 1.75em;
    border-radius: 3em;
}
.details__banner .detailsBannerSkeleton .right .row:nth-child(2) {
    width: 75%;
    margin-bottom: 3em;
}
.details__banner .detailsBannerSkeleton .right .row:nth-child(5) {
    width: 50%;
    margin-bottom: 3em;
} /*# sourceMappingURL=style.css.map */
