.hero-banner {
    position: relative;
    width: 100%;
    height: 28em;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .hero-banner {
        min-height: 100vh;
    }
}
.hero-banner .backdrop-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
}
.hero-banner .backdrop-img .lazy-load-image-background {
    width: 100%;
    height: 100%;
}
.hero-banner .backdrop-img .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.hero-banner .opacity-layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(180deg, transparent 0%, #04152d 80%);
}
.hero-banner .hero-banner__content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-banner .hero-banner__content .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.25em;
}
@media only screen and (min-width: 640px) {
    .hero-banner .hero-banner__content .title {
        font-size: 3rem;
    }
}
@media only screen and (min-width: 768px) {
    .hero-banner .hero-banner__content .title {
        font-size: 4rem;
    }
}
.hero-banner .hero-banner__content .subTitle {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 2em;
    text-align: center;
    line-height: 1.5;
    color: var(--yellow);
}
@media only screen and (min-width: 640px) {
    .hero-banner .hero-banner__content .subTitle {
        font-size: 1.15rem;
    }
}
@media only screen and (min-width: 768px) {
    .hero-banner .hero-banner__content .subTitle {
        font-size: 1.25rem;
    }
}
.hero-banner .searchInput {
    position: relative;
    width: 100%;
    height: 2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .hero-banner .searchInput {
        height: 2.5em;
    }
}
@media only screen and (min-width: 1024px) {
    .hero-banner .searchInput {
        height: 3em;
    }
}
.hero-banner .searchInput label {
    position: absolute;
    left: -99999px;
}
.hero-banner .searchInput input {
    width: calc(100% - 5em);
    height: 100%;
    padding: 0 1em;
    font-size: 0.75rem;
    border-radius: 2em 0 0 2em;
    background-color: #fff;
    border: 0;
    outline: 0;
}
@media only screen and (min-width: 768px) {
    .hero-banner .searchInput input {
        width: calc(100% - 8em);
        font-size: 1rem;
        padding: 0 2em;
    }
}
.hero-banner .searchInput button {
    width: 5em;
    height: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 0 2em 2em 0;
    background: var(--gradient);
    border: 0;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .hero-banner .searchInput button {
        width: 8em;
        font-size: 1rem;
    }
} /*# sourceMappingURL=style.css.map */
